{% extends 'base.html' %}
{% block titulo %}Viajes{% endblock %}

{% block contenido %}
{% include 'menu.html'%}

<h1>Bienvenido, {{session.usuario.nombre}}</h1>


<div class="border-5"> 
    <div class="col-3"><h2>{{viaje.nombre}}</h2></div>
    <div class="row mt-3 g-3 align-items-center">
        <div class="col-3">
            <p>Posteado por:</p>
        </div>
        <div class="col-9">
            <p>{{viaje.usuario.nombre}}</p>
        </div>
    </div>
    <div class="row mt-3 g-3 align-items-center">
        <div class="col-3">
            <p>Descripción</p>
        </div>
        <div class="col-9">
            <p>{{viaje.descripcion}}</p>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-3">
            <p>travel date from</p>
        </div>
        <div class="col-9">
            <p>{{viaje.travel_date_from}}</p>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-3">
            <p>travel date to</p>
        </div>
        <div class="col-9">
            <p>{{viaje.travel_date_to}}</p>
        </div>
    </div>
</div>

{% endblock %}